:root > * {
    --md-primary-fg-color:        #008080;   /* Main Teal */
    --md-primary-fg-color--light: #4eb5b5;   /* Lighter Teal */
    --md-primary-fg-color--dark:  #005959;   /* Darker Teal */
  }

/* Set base font size */
html {
    font-size: 24px;
  }


/* Fade-in animation for headers and images */
.fade-element {
  opacity: 0;
  transform: translateY(10px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}
.fade-element.in-view {
  opacity: 1;
  transform: none;
}
