{% extends "pages/base.html" %}

{% block title %}{{ page.title }} | Sam Osian{% endblock %}
{% block meta_description %}Explore {{ page.title }} by Sam Osian.{% endblock %}
{% block og_title %}{{ page.title }} | Sam Osian{% endblock %}
{% block og_description %}Explore {{ page.title }} by Sam Osian.{% endblock %}
{% block twitter_title %}{{ page.title }} | Sam Osian{% endblock %}
{% block twitter_description %}Explore {{ page.title }} by Sam Osian.{% endblock %}
{% block body_class %}site-body standard-page{% endblock %}

{% block content %}
  <article class="panel page-markdown" data-reveal>
    <div class="markdown-body">
      {{ page.html|safe }}
    </div>
  </article>
{% endblock %}
